
.container{
   
    display: flex;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    align-items: center;
}
.titleContainer{
    display: flex;
    flex-direction: column;
}
#container-title{
    font-size: small;
    color: #9a9a9a;
}
#title{
    font-size: xxx-large;
    font-weight: 600;
    color: #0b7fa5;
}
.login-container{

      display: flex;
      flex-direction: column;
}